.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: minmax(170px, min-content);
  gap: 16px;
}
.card-grid-full {
  grid-template-columns: 1fr;
}
.card {
  position: relative;
  perspective: 800px;
}
.card .content {
  position: relative;
  width: 100%;
  min-height: 170px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  transition: transform 1s;
  transform-style: preserve-3d;
  border-radius: 8px;
}

.card:has(.back):hover .content,
.card:has(.back):focus .content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.card .front,
.card .back {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 16px;
  background: white;
  color: #03446A;
  font-size: 1.3rem;
  border-radius: 8px;
  backface-visibility: hidden;
}

.card .back {
  position: absolute;
  top: 0;
  background: #6091ae;
  color: white;
  text-align: center;
  transform: rotateY( 180deg );
}
.card .back p {
  color: #fff;
}
.card .back a,
.card .back a:visited {
  color: #ccf;
}
.card .back a:hover {

}
.card h4, .card h5 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.card img {
  border-radius: 6px;
  margin: 32px 24px;
}
.card-grid-full .card:nth-child(even) img {
  order: 1;
}