* {
  box-sizing: border-box;
}
body {
  background: white;
  font-family: sans-serif;
  font-size: 16px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(700px, 0.6fr));
  justify-content: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5em;
}
p {
  color: black;
}
header {
  margin: 20px 0 50px;
}
h1 {
  text-align: center;
}
h2 {
  margin: 84px 0 32px;
}
h3 {
  font-size: 20px;
}
h4 {
  margin-top: 32px;
}
li {
  margin-top: 8px;
}
.code {
  font-family: "Share Tech Mono", monospace;
  white-space: pre-line;
}
.blink {
  animation: blinker 1s step-start infinite;
}
@keyframes blinker {
  50% {
    opacity: 0.1;
  }
}
#page-url {
  position: relative;
  text-align: center;
  font-size: 30px;
  color: #00b;
}
#qr {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 170px;
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px
}
#projects {
  margin-bottom: 48px;
}
#games-section img {
  border-radius: 6px;
  margin: 32px 24px;
}
#tacocat-section img {
  display: block;
  height: 200px;
  margin: 20px auto 0;
}
#tacocat-section ul {
  list-style: none;
}